@tailwind base;
@tailwind components;

.app {
  height: 100%;
}

.title {
  @apply bg-blue-100;
  @apply text-center;
  @apply p-5;
  @apply font-mono;
  @apply text-xl;
  @apply text-green-800;
}
 main {
   margin-top: 47px;
 }
.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: darkblue;
}
.toolbar__navigation {
  display: flex;
  height: 100%;
  padding: 0 1rem;
  align-items: center;
}

.toolbar__navigation-items a {
  color: whitesmoke;
  text-decoration: none;
}

.toolbar__navigation-items a:hover,
.toolbar__navigation-items a:hover {
  color: lightskyblue;
}

.toolbar__navigation-items ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
}

.toolbar__navigation-items li {
  padding: 0 0.5rem;
  }

.toolbar__logo a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 2rem;
}

.toolbar__logo {
  margin-left: 0.5rem;
}

.spacer {
  flex: 1;
}

.toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.toggle:focus {
outline: none;
}

.toggle__line {
  width: 100%;
  height: 2px;
  background: whitesmoke;
}

.sidebar {
  height: 100%;
  background: whitesmoke;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-110%);
  transition: transform 0.3s ease-out;
}

.sidebar.open {
  transform: translateX(0);

}

.sidebar ul {
  height: 100%;
  list-style: nome;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar li {
  margin: 1.5rem 2.5rem;
}

.sidebar a {
  color: darkblue;
  text-decoration: none;
  font-size: 1.2rem;
}

.sidebar a:hover,
.sidebar a:active {
  color: blue;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

@media (max-width: 768px) {
  .toolbar__navigation-items {
    display: none;
  }
}

@media (min-width: 769px) {
  .sidebar {
    display: none;
  }

  .toolbar__navigation-button {
    display: none;
  }
}

@tailwind utilities;